@import "../../styles/variables.scss";

.cardLink {
  text-decoration: none;
  color: inherit;
}

.card {
  background-color: $card-bg;
  border: $card-border;
  border-radius: $card-radius;
  padding: $card-padding;
  display: flex;
  flex-direction: column;

  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  width: 100%;
  height: 100%;
  max-width: 100%;
  box-sizing: border-box;

  &:hover {
    transform: scale($card-hover-scale);
    box-shadow: $card-hover-shadow;
  }

  &__image {
    width: 100%;
    border-radius: 4px;

    aspect-ratio: 12 / 9;
    object-fit: cover;
  }

  &__content {
    margin-top: 10px;
    flex-grow: 1;
  }

  &__title {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }

  &__price {
    font-size: 1rem;
    color: #444;
  }

  &__stat {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    font-size: 0.9rem;
  }
}
