@import "../../styles/variables.scss";

.toolsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 20px;
}

.orderButton {
  background-color: $color-blue;
  color: $color-white;
  padding: $spacing-small;
  border: none;
  border-radius: $border-radius-medium;
  cursor: pointer;
  font-size: $font-size-main;
  transition: background-color $transition;
  text-decoration: none;

  &:hover {
    background-color: darken($color-blue, 10%);
  }
}
