@import "../../styles/variables.scss";

.searchContainer {
  position: absolute;
  margin-bottom: $spacing-medium;
  display: flex;
  justify-content: center;
}

.searchInput {
  width: 300px;
  padding: $spacing-small;
  border-radius: $border-radius-small;
  border: 1px solid $color-gray;
  font-size: $font-size-main;
  color: $color-black;
  background-color: $color-white;
  transition: border-color $transition, box-shadow $transition;

  &:focus {
    border-color: $color-blue;
    box-shadow: 0 0 5px $color-blue;
  }
}
