@import "../../styles/variables.scss";

.editForm {
  display: flex;
  flex-direction: column;
  gap: $spacing-medium;
  margin-top: $spacing-medium;
}

.editForm input,
.editForm textarea,
.editForm button {
  padding: $spacing-small;
  font-size: $font-size-main;
}

.editForm input[type="file"] {
  padding: 0;
}

.editForm textarea {
  resize: vertical;
  min-height: 100px;
}

.submitButton {
  background-color: $color-blue;
  color: $color-white;
  border: none;
  border-radius: $border-radius-medium;
  cursor: pointer;
  padding: $spacing-small $spacing-medium;
  font-size: $font-size-main;
  transition: $transition;
}

.submitButton:hover {
  background-color: darken($color-blue, 10%);
}
