@import "../../styles/variables.scss";

.pageContainer {
  position: relative;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 50px;
}

.toolsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 20px;
}

.orderButton {
  background-color: $color-blue;
  color: $color-white;
  padding: $spacing-small;
  border: none;
  border-radius: $border-radius-medium;
  cursor: pointer;
  font-size: $font-size-main;
  transition: background-color $transition;
  text-decoration: none;

  &:hover {
    background-color: darken($color-blue, 10%);
  }
}

.controls {
  display: flex;
  align-items: center;
}

.cardsContainer {
  display: grid;
  gap: 20px;
  justify-items: start;

  @media (min-width: 600px) {
    grid-template-columns: repeat(5, minmax(200px, 1fr));
  }

  @media (max-width: 599px) {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
  }
}
