@import "../../styles/variables.scss";

.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding: 0 $spacing-medium;
}

.cardsContainer {
  flex-grow: 1;
  display: grid;
  gap: $spacing-small;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 0.5fr));

  width: 100%;
  margin: 0 auto;
}

.paginationContainer {
  margin-top: $spacing-small;
  display: flex;
  justify-content: center;
}
